
/**/bin/
/**/obj
/**/.vs
/**/Logs/
*.jfm
*.dbmdl
/src/LogCorner.EduSync.Speech.Presentation/LogCorner.EduSync.Speech.Presentation.csproj.user
/src/Front/LogCorner.EduSync.Speech.Presentation/wwwroot/lib/microsoft/signalr/node_modules
/helm-chart/chart/certificate/ssl
