<div *ngIf="loading">Loading speeches...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<table *ngIf="!loading && !error" border="1" cellpadding="6">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>URL</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let speech of speeches">
      <td>{{ speech.title }}</td>
      <td>{{ speech.description }}</td>
      <td>
        <a [href]="speech.url" target="_blank">{{ speech.url }}</a>
      </td>
      <td>{{ speech.type?.name }}</td>
    </tr>
  </tbody>
</table>
